<!DOCTYPE html>
<html>
<head>
	<title>Microlend-lender</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <h2 class="text-muted" style="text-align:center;background-color:black;color:white;padding:12px;width:100%; font-size: 0.5in">Microlend</h2><br>
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
              <li style="font-size: 0.15in;border:2px solid black;margin-right:35px;" role="presentation"><a href="/">about</a></li>
              <li style="font-size: 0.15in;border:2px solid black;margin-right:35px;" role="presentation"><a href="http://localhost:3002/explorer/#/">LEDGER</a></li>
              <li style="font-size: 0.15in;border:2px solid black;margin-right:35px;" role="presentation"><a href="/users/dashboard">dashboard</a></li>
              <li style="font-size: 0.15in;border:2px solid black;margin-right:35px;" role="presentation"><a href="/users/ldeposit">deposit</a></li>
              <li style="font-size: 0.15in;border:2px solid black;margin-right:35px;" role="presentation"><a href="/users/proposal">proposal</a></li>
              <li style="font-size: 0.15in;border:2px solid black;margin-right:35px;" role="presentation"><a href="/users/loan">loan</a></li>
              <li style="font-size: 0.15in;border:2px solid black;margin-right:35px;" role="presentation"><a href="/users/urgamt">urgent amount</a></li>
              <li style="font-size: 0.15in;border:2px solid black;margin-right:35px;" role="presentation"><a href="/users/faq">FAQ</a></li>
              <li style="font-size: 0.15in;border:2px solid black;margin-right:35px;" role="presentation"><a href="/users/logout">logout</a></li>
            {{else}}
              <li style="font-size: 0.15in;border:2px solid black;margin-right:35px;" role="presentation"><a href="/users/login">Login</a></li>
              <li style="font-size: 0.15in;border:2px solid black;margin-right:35px;" role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </nav>
      </div>


      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>
      </div>

      <footer class="footer">
        <p style="font-size: 0.2in">&copy; 2018 hovers, Inc.</p>
      </footer>

    </div>
</body>
</html>
